{% extends "base.html" %}
{% block content %}
<form class="card p-4 shadow-sm"
    action="{% if request.GET.next %}?next={{ request.GET.next }} {% url 'login' %} {% else %}{% endif %}"
    method="post">
    {% csrf_token %}
    <div>
        <label for="email" class="form-label">Your email</label>
        <input type="email" name="email" id="email"
            class="form-control"
            placeholder="name@company.com" required="">
    </div>
    <div>
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" placeholder="••••••••"
            class="form-control"
            required="">
    </div>
   
    <button type="submit"
        class="btn btn-primary">Sign
        in</button>

    <p class="form-text">
        Don’t have an account yet? <a href="{% url 'signup' %}"
            class="">Sign up</a>
    </p>
</form>
{% endblock %}